{
  "extends": ["react-app", "prettier/@typescript-eslint", "plugin:prettier/recommended"],
  "rules": {
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "single", "multiple"]
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "{.,..}/**/*.+(css|sass|less|scss|pcss|styl)",
            "unnamed": true,
            "group": "unknown",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "warnOnUnassignedImports": true
      }
    ]
  }
}
